[Unit]
Description=Nie Timer
RefuseManualStart=no
RefuseManualStop=no

[Timer]
Persistent=true
OnCalendar=Mon..Fri 2020-1-15..31 19:00:00
OnCalendar=Mon..Fri 2020-1-15..31 19:20:00
OnCalendar=Mon..Fri 2020-1-15..31 19:40:00
OnCalendar=Mon..Fri 2020-1-15..31 19:00:00
OnCalendar=Mon..Fri 2020-1-15..31 19:20:00
OnCalendar=Mon..Fri 2020-1-15..31 19:40:00

[Install]
WantedBy=timers.target
