[Unit]
Description=Check task Timer
RefuseManualStart=no
RefuseManualStop=no

[Timer]
Persistent=true
OnCalendar=*-*-* 9:30:00
OnCalendar=Mon..Fri *-*-* 19:00:00
OnCalendar=Sun *-*-* 23:00:00

[Install]
WantedBy=timers.target
